@import './variables.scss';

*  { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;  
    font-family: 'Josefin Sans', 'Lucida Sans Unicode', 'Lucida Grande','Lucida Sans', Arial, sans-serif;
}

body { 
    font-size: $largeRem;
    background: #0F1624;
    color: $darkBlueColor;  
} 

button {
    padding: $smallRem $extraRem;
    font-size: $mediumRem;
    margin-top: $smallRem;
    border: 1px solid $darkBlueColor;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    background: $whiteColor;
    color: $darkBlueColor;
    transition: $transition;
    &:hover {
      background: transparent;
      color: $whiteColor;
      border: $whiteBorder;
      transition: $transition;
    }
  }

  .title {
    h1 {
    color: $whiteColor;
      margin: 0px auto;
     max-width: 700px;
     position: relative;
     }

   h1:before {
     content: "";
     display: block;
     width: 150px;
     height: 5px;
     background: rgb(96,92,159);
     background: linear-gradient(90deg, rgba(96,92,159,1) 21%, rgba(165,181,182,1) 46%, rgba(0,212,255,1) 100%);
     left: 85px;
     top: 50%;
     position: absolute;
   }
   h1:after {
     content: "";
     display: block;
     width: 150px;
     height: 5px;
     background: rgb(96,92,159);
     background: linear-gradient(90deg, rgba(96,92,159,1) 21%, rgba(165,181,182,1) 46%, rgba(0,212,255,1) 100%);
     right: 85px;
     top: 50%;
     position: absolute;
   }
 }