@import './variables.scss';

*  { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
    border: 0;  
    font-family: 'Josefin Sans', 'Lucida Sans Unicode', 'Lucida Grande','Lucida Sans', Arial, sans-serif;
}

body { 
    font-size: $largeRem;
    background: $shadowDarkBlueColor;
    color: $darkBlueColor;     
} 

section {
    .title {
        padding: 100px 0px 0px;
    }
}

button {
    padding: $smallRem $extraRem;
    font-size: $mediumRem;
    margin-top: $smallRem;
    border: 1px solid $darkBlueColor;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    background: transparent;
    color: $darkBlueColor;
    transition: $transition;

    &:hover {
      background: $darkBlueColor;
      color: $whiteColor;
      border: $whiteBorder;
      transition: $transition;
    }
  }