@import './variables.scss';

*  { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;  
    font-family: 'Josefin Sans', 'Lucida Sans Unicode', 'Lucida Grande','Lucida Sans', Arial, sans-serif;
}

body { 
    font-size: $largeRem;
    background: $shadowDarkBlueColor;
    color: $darkBlueColor;     
} 

section {
    .title {
        padding: 100px 0px 0px;
    }
}