@import './variables.scss';

// BANNER COMPONENT
.banner__container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: $whiteColor;
  .banner__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    padding: 3rem calc((100vw - 1300px) / 2);
    
    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }

  .banner__left {
    display: flex;
    color: $darkBlueColor;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 5rem $extraRem;

    .name {
      color: $lightBlueColor;
    }
        
  }

  .banner__right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $largeRem;
    position: relative;

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      max-width: 250px;
      max-height: 250px;
      cursor: grab;
    }

    @mixin imagesLocation($top, $left) {
      top: $top;
      left: $left;
    }

    img:nth-child(1) {
      @include imagesLocation(40px, 100px);
    }
    img:nth-child(2) {
      @include imagesLocation(250px, 300px);
    }
    img:nth-child(3) {
      @include imagesLocation(450px, 100px);
    }
  }
}

// NAVBAR COMPONENT
.navbar{
  transition: all .5s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 100%;
  max-height: 80px;
  height: 80px;
  background: $lightBlueColor;

  .logo {
    color: $darkBlueColor;
      font: {
      size: $mediumRem;
      weight: bold;
      style: italic
    }
  }
}

.scrolled{
  position: sticky;
  z-index: 100;
  top: 0;
  left: 0;
  background-color:#66D3FA;
}

.nav-items{
    a {
    text-decoration: none;
    color: $darkBlueColor;
    padding: 0 $mediumRem; 

    &:hover {
        color: $whiteColor;
        text-shadow: 2px 2px #203647;
    }
  }
}


// ABOUT PAGE
.about__section {
  text-align: center;
  margin-bottom: 100px;
  color: $whiteColor;
}
.about__traits {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin: 50px;

  li {
    padding: 30px;
    height: 300px;
    width: 70%;
  }

  .about__icon {
    font-size: 90px;
    color:$lightestBlueColor;
  }

  .about__info {
    h1 {
      font-size: $largeRem; 
      padding-bottom: 10px;
    }
    p {
      font-size: 1.3rem;
    }
  }
}

.about__personal-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;

  .about__picture {
    height: 450px;
    width:450px;
    background: {
      image: url("../images/myphoto.JPG");
      size: cover;
    }
    border: 3px solid $whiteColor;
    border-radius: 50%;
  }
  .about__right {
    width:450px;
    height: 450px;
    p {
      font-size: $mediumRem;
    }
  }
}

// Projects Section
.projects__section {
  background-color: $whiteColor;
  text-align: center;
  color: $darkBlueColor;
  padding-bottom: 100px;
  

  .projects__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px;
  }
}
.projects__item {
  border: 1px solid $darkBlueColor;
  height: 300px;
  background-color: $lightBlueColor;
  color: $whiteColor;
  width: 370px;
  margin: 5px;
  transition: $transition;
  
  img {
    max-width: 100%;
    max-height: 100%; 
  }

  &:hover {
    transition: $transition;
    background-color: $darkBlueColor;
    transform: scale(1.05);
  }
}

.category__container {
  margin: 10px 50%;

  .category__list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  li {
    list-style: none;
  }

}

// Contact
.section__contact {
  font-size: $smallRem;  
  .form__container {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    position: relative;

  }


  .form__contact {
    background: $whiteColor;
    padding: 25px;
    margin: 150px 0;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    
    h3 { 
      font-size: $extraRem;
      font-weight: 300;
      margin-bottom: 10px;
    }
    h4 {
      margin: 5px 0 15px;
      font-size: $mediumRem;
      font-weight: 400;
    }
    div{ 
      padding: 10px;    

      span {
        color: red;
      }
     
    input, textarea {
      width: 100%;
      border: 1px solid $shadowDarkBlueColor;
      background: #FFF;
      margin: 0 0 5px;
      padding: 10px;
     
      &:focus {
      outline: 0;
      border: 1px solid #203647;
      }
    }
    textarea { 
      height: 100px;
      max-width: 100%; 
      resize: none;
    } 
   }
   .btn {
     input {
      cursor: pointer;
      border: none;
      background: $darkBlueColor;
      border: 1px solid transparent;

      
      color: $whiteColor;
      font-size: 15px;
      &:hover {
        border: 1px solid $darkBlueColor;
        color: $darkBlueColor;
        background-color: transparent;
        box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
      }
     }
  }

  }
}


// Footer

footer {
  background-color: $whiteColor;
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
  }
}