@import './variables.scss';

// NAVBAR COMPONENT
.navbar{
  transition: all .5s ease;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 100%;
  max-height: 80px;
  transition: $transition;
}
.logo {  
  margin-top:5px;
  img {
    height: 300px;
    max-width: 100%;
    object-fit: cover;
  }
}

.scrolled{
  position: sticky;
  z-index: 100;
  top: 0;
  left: 0;
  background: rgb(58,56,93);
  background: linear-gradient(90deg, rgba(58,56,93,1) 26%, rgba(54,58,173,1) 45%, rgba(63,131,134,1) 100%);
  transition: $transition;
}

.nav-items{
  display:flex;
  li {
    list-style: none;
    a {
      text-decoration: none;
      color: $whiteColor;
      padding: 7px 10px;
      margin-right: 10px; 
      font-size: 35px;
      border: 1px solid transparent;
      &:hover {
        background: transparent;
        color: $whiteColor;
        border: $whiteBorder;
        transition: $transition;
      }
    }
  }
}

// BANNER COMPONENT
.banner__container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  .banner__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    grid-gap: 2rem;
    padding: 3rem calc((100vw - 1300px) / 2);
  }

  .banner__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: $whiteColor;
    padding: 5rem $extraRem;
    .name {
      color: $lightBlueColor;
    }
  }
  .banner__right {
    img {
      height: 600px;
      max-width: 100%;
      object-fit: cover;
    }
  }
}

// ABOUT PAGE
.about__section {
  text-align: center;
  color: $whiteColor;   
  
  
}
.about__traits {
  padding: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  flex-wrap: wrap;
  li {
    height: 300px;
    width: 50%;
  }
  .about__icon {
    font-size: 100px;
  }

  .about__info {
    h1 {
      font-size: $largeRem; 
      padding-bottom: 10px;
    }
    p {
      font-size: 1.3rem;
      margin: 25px;
      
    }
  }
}

.about__personal-info {
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  flex-wrap: wrap;
  align-content: center;

  .about__picture {
    height: 450px;
    width:450px;
    background: {
      image: url('../images/me.png');
      size:cover;
    }
    border: $whiteBorder;;
    border-radius: 5px;
  }
  .about__right {
    width:450px;
    height: 450px;
    p {
      font-size: $mediumRem;
    }
  }
}

// SKILLS
.skills__container {
    text-align: center;
    height: 90vh;
    padding: 50px;

    .skills_inner-container {
      display: flex;
      flex-direction: row;
      justify-content: space-around;      
    
    .technologies__icons {
      height: 500px;
      width: 500px;
      padding-top: 100px;
      color: white;
      display: flex;
      flex-wrap: wrap;
      div {
        flex-grow:1;
        width: 33%; 
        margin: 0px 10px;


        p {
         padding-bottom: 15px;
        }
      }
    }

    .skills__bar {      
      padding-top: 100px;
      height: 500px;
      width: 500px;
      text-align: start;
      color: $whiteColor;

      p {
        font-size: 20px;
        padding: 10px;
      }  

      .container {
        width: 100%; 
        background-color: #ddd; 
      }
      
      .skills {
        height: 30px;
        text-align: right; 
        padding-top: 5px; 
        font-size: 20px;
        padding-bottom: 5px; 
        color: white; 
      }
      
      .frontend {
        width: 90%;
        background: rgb(58,56,93);
        background: linear-gradient(90deg, rgba(58,56,93,1) 26%, rgba(54,58,173,1) 45%, rgba(63,131,134,1) 100%);
      }
      .fullstack {
        width: 75%;   
        background: rgb(58,56,93);
        background: linear-gradient(90deg, rgba(58,56,93,1) 26%, rgba(54,58,173,1) 45%, rgba(63,131,134,1) 100%);
      } 
      .react {
        width: 90%;   
        background: rgb(58,56,93);
        background: linear-gradient(90deg, rgba(58,56,93,1) 26%, rgba(54,58,173,1) 45%, rgba(63,131,134,1) 100%);
      } 
      .flask {
        width: 60%;  
        background: rgb(58,56,93);
        background: linear-gradient(90deg, rgba(58,56,93,1) 26%, rgba(54,58,173,1) 45%, rgba(63,131,134,1) 100%);
      } 
    }
  }
}



// Projects Section
.projects__section {
  text-align: center;
  padding-top: 40px;

  .title {
    margin-top: 100px;
    padding: 0px 0px;
  }
  
  .projects__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}
.projects__item {
  margin: 50px;
  border: $whiteBorder;
  background: rgb(58,56,93);
  background: linear-gradient(90deg, rgba(58,56,93,1) 26%, rgba(54,58,173,1) 45%, rgba(63,131,134,1) 100%);
  color: $whiteColor;
  border-radius: 5px;
  width: 400px;
  transition: $transition;
  a {
    color: $whiteColor;
    text-decoration: none;
  }
  h2 {
    padding-top: 20px;
    font-size: 25px;
  }
  p {
    font-size: 20px;
    padding-bottom: 20px;
  }
  div {
    img {
      vertical-align: bottom;
      vertical-align: top;
      vertical-align: middle;
      width:100%;
      height:350px;
      object-fit:fill;
  }
  }

  &:hover {
    transition: $transition;
    transform: scale(1.05);
  }
}

.category__container {
  padding: 50px;
  .category__list {
    display: flex;
    align-items: center;
    justify-content:center; 
    align-content: center;
    padding: 20px;
  }
  li {
    width: 100px;
    height: 50px;
    color: white;
    border: 1px solid white;;
    font-size: 20px;
    padding-top: 15px;
    list-style: none;
    border-radius: 5px;
  }
}

// Contact
.section__contact {
  text-align: center;
  .button-container{
    margin-top: 50px;
  }

  .icon-container {
    margin-top: 50px;
    a {
      color: white;
    }
  }
}


// Footer
footer {
  margin-top: 100px;
  margin-bottom: 20px;
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    li {
      font-size: $extraRem;
      align-self: flex-start;
      padding-top: 10px;
      padding-right: 50px;
      padding-left: 50px;
      border: 1px solid transparent;
      &:hover {
      
        border: $whiteBorder;
        transition: $transition;
      }
    }

  }
  
}


// MEDIA QUERIES
@media screen and (max-width: 960px) {
  //Navbar
  .nav-items{
    li {
      a {
        font-size: 30px;
      }
    }
  }
  .logo {  
    img {
      height: 250px;
      max-width: 100%;
      object-fit: cover;
    }
  }

  // ABOUT ME 
.about__personal-info {
  .about__picture {
    height: 400px;
    width:400px;
  }
  .about__right {
    padding: 25px;
    p {
      font-size: 1.4rem;
    }
  }
}
 //  Technologies
.skills__container {
  margin-bottom: 200px;
  .skills_inner-container {
    flex-direction: column;
  .technologies__icons {
    width: 100%;
    div {
      p {
        font-size: 22px
      }
    }
  }
  .skills__bar {      
    padding-top: 0px;
    width: 100%;
  }
  }  
}

}
@media screen and (max-width: 700px) {
  //Navbar
  .navbar {
      justify-content: space-evenly;
      padding: 10px;
  }
  .nav-items{
    li {
      a {  
        font-size: 22px;
      }
    }
  }
  .logo {  
    display: none;
  }

  // Banner
  .banner__container {
    height: 90vh;
    .banner__content {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    .banner__left {
      padding: 0px 100px;
      align-items: center;
    }
    .banner__right {
      display:none;
    }
    button {
      margin-top: 70px;
    }
  }
  
//Banner
.about__traits {
  padding: 10px;

  .about__icon {
    font-size: 80px;
  }
  .about__info {
    h1 {
      font-size: $mediumRem; 
      padding-bottom: 15px;
    }
    p {
      font-size: 1.2rem;      
    }
  }
}


// Title
.title {
  padding:80px 0px;

 h2:before {
  top: 100% !important;
 }
 h2:after {
  top: 100% !important;
 }
}

.skills__container {
  .skills_inner-container {
  .technologies__icons {
    padding-top: 0px;
  }
}

}
.projects__section {

  .title {
    margin-top: 200px;
  }
}

}

@media screen and (max-width: 500px) {
  // Navbar
  .nav-items{
    li {
      a {  
        font-size: 18px;
        margin-right: 0px;
      }
    }
  }

  //Banner
  .about__traits {
    padding: 10px;
    
    .about__icon {
      font-size: 70px;
    }
  
    .about__info {
      h1 {
        font-size: $mediumRem; 
        padding-bottom: 15px;
      }
      p {
        font-size: 1.1rem;
      }
    }
  }

  .about__personal-info {
    .about__picture {
      height: 350px;
      width:350px;
    }
    .about__right {
      p {
        font-size: 1.3rem;
      }
    }
  }

  .skills__container {
    .skills_inner-container {
    .technologies__icons {
      width: 100%;

      div {
        svg {
          width: 40px;
        }  
        p {
          font-size: 15px;
        }
      }
    }
  }
  }
}

@media screen and (max-width: 380px) {
  //Navbar
  .nav-items{
    li {
      a {  
        font-size: 0.9rem;
      }
    }
  }
    //Banner
    .about__traits {
      .about__icon {
        font-size: 65px;
      }
    
      .about__info {
        h1 {
          font-size: $smallRem; 
          padding-bottom: 10px;
        }
        p {
          font-size: 1.0rem;
        }
      }
    }
    // About me
    .about__personal-info {
      .about__picture {
        height: 300px;
        width:300px;
      }
      .about__right {
        p {
          font-size: 1.2rem;
        }
      }
    }    
}