// BASE FILE VARIABLES

//Colors
$whiteColor: #EEFBFB;
$whiteBorder: 1px solid $whiteColor;
$darkBlueColor: #12232E;
$lightBlueColor: #007CC7;
$lightestBlueColor: #007CC7;
$shadowDarkBlueColor: #203647;
$darkColor:#0F1624;




//Alignment
$alignCenter: center;

//Transition
$transition: all 0.4s ease 0s;

//small font
$extraSmallRem: 0.7rem;
$smallRem: 1rem;
$mediumRem: 1.5rem;
$largeRem: 2rem;
$extraRem: 3rem;


// image
$imagePath :"../images/me.JPG";



